# Impede o acesso direto a arquivos e diretórios
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se o caminho não for um arquivo existente, envie a solicitação para o index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]
</IfModule>
